<div id="<%= dom_id mention %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= mention.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= mention.message_id %>
  </p>

</div>
