<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing mention</h1>

  <%= render "form", mention: @mention %>

  <%= link_to "Show this mention", @mention, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to mentions", mentions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
